@import-normalize;
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-image: url("./images/kadr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(33, 83, 128);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
